@chareset "UTF-8";

/* basecolor
------------------------------------------------------------ */
$orange-color: #E95532;

/* app-size
------------------------------------------------------------ */
$height-app-w:800px;
$height-app-h:1280px;


//transform: rotate(0.03deg); /* シャギーを防ぐ指定 */ 
$transform-c: rotate(0.03deg);         /* シャギーを防ぐ指定 */


